<a href="https://colab.research.google.com/github/NchangFor/dataanalytics-prework/blob/main/Copy_of_Data_Cleaning_%26_Missing_Values_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Immoscout](https://raw.githubusercontent.com/juliandnl/redi_ss20/master/image.png)

# Project - Cleaning the Expanded Immobilien Scout 24 Dataset

--- 
After exploring the original dataset and trying to build a predictive model with it, it was discovered that we need more data. Unfortunately we lost access to Immobilien Scout's API so we had to scrape the data. While this worked, the data is quite messy and needs to be cleaned before we can use it. In this exercise you'll clean the remaining of the data.

In [ ]:
import numpy as np
import pandas as pd
import plotly.express as px

In [ ]:
df = pd.read_pickle("https://github.com/ReDI-School/nrw-data-analytics/raw/main/8_berlin_housing_with_scraped_class_cleaned.pkl")
df.head()

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
0,https://www.immobilienscout24.de/expose/116051687,Mitte,first_time_use,4.0,2659.00,2019,117.20,2199.000000,+460€,in,...,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B,7977.00,5
1,https://www.immobilienscout24.de/expose/115338103,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,973.510000,"+226,49€",in,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN,2920.53,5
2,https://www.immobilienscout24.de/expose/116458710,Köpenick,well_kept,2.0,979.00,1997,83.61,799.000000,+90€,+90€,...,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis Energie­ver­brauchs­kennwert...,NaN,NaN,2937.00,4
3,https://www.immobilienscout24.de/expose/116573177,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,911.544216,NaN,NaN,...,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5490.66,13
4,https://www.immobilienscout24.de/expose/115925878,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,1131.573505,NaN,NaN,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt zur Besichtigun...,liegt zur Besichtigung vor,NaN,NaN,NaN,6816.00,8

## 0. Before cleaning, print out how many missing values (sorted for readability) each column has:

In [ ]:
## code here
(df.isnull().sum()).sort_values(ascending = False)

parking_space          674
renovated_date         569
efficiency_class       513
energy_requirement     438
utilities              338
heating_costs          338
furnishing             319
energy_certificate     313
type_of_certificate    297
energy_sources         270
heating_type           249
property_condition       0
deposit_cleaned          0
url                      0
region                   0
security_deposit         0
cold_rent                0
space                    0
year_construction        0
rent                     0
rooms                    0
condition                0
n_missing                0
dtype: int64

## 1. Clean: `heating_type`

Please explain why you choose your strategy for filling the missing values.

In [ ]:
df.dtypes

url                     object
region                  object
condition               object
rooms                  float64
rent                   float64
year_construction        int64
space                  float64
cold_rent              float64
utilities               object
heating_costs           object
security_deposit        object
parking_space           object
renovated_date         float64
property_condition      object
furnishing              object
heating_type            object
energy_sources          object
energy_certificate      object
type_of_certificate     object
energy_requirement      object
efficiency_class        object
deposit_cleaned        float64
n_missing                int64
dtype: object

In [ ]:
df["heating_type"].unique()

array(['Underfloor Heating', 'Central Heating', nan, 'District Heating',
       'Floor Heating', 'Gas Heating', 'CHP Plants',
       'Wood Pellet Heating'], dtype=object)

In [ ]:
df.heating_type.isnull().sum()*100/len(df)

32.59162303664922

In [ ]:
df['heating_type'] = df.heating_type.fillna('other_heating_methods')

In [ ]:
df["heating_type"].unique()

array(['Underfloor Heating', 'Central Heating', 'other_heating_methods',
       'District Heating', 'Floor Heating', 'Gas Heating', 'CHP Plants',
       'Wood Pellet Heating'], dtype=object)

## 2. Clean: `renovated_date`

Please explain why you choose your strategy for filling the missing values.

In [ ]:
df.renovated_date.isnull().sum()*100/len(df)

74.47643979057591

In [ ]:
df["renovated_date"].unique()

array([  nan, 2019., 2016., 2020., 2018., 2015., 2017., 2014., 2011.,
       2010., 2006., 1995., 2012.])

In [ ]:
df["renovated_date"] = df.renovated_date.astype(str)

In [ ]:
df.renovated_date.unique()

array(['nan', '2019.0', '2016.0', '2020.0', '2018.0', '2015.0', '2017.0',
       '2014.0', '2011.0', '2010.0', '2006.0', '1995.0', '2012.0'],
      dtype=object)

In [ ]:
df["renovated_date"] = df.renovated_date.str.split(".",expand=True)[0]

In [ ]:
df['renovated_date']= pd.to_datetime(df['renovated_date'])

In [ ]:
df['renovated_date'] = df.renovated_date.fillna(method = "bfill")

## 3. Clean: `parking_space`

Please explain why you choose your strategy for filling the missing values.

In [ ]:
df["parking_space"].unique()

array(['120€', nan, '150€', '200€', '0€', '130€', '90€', '350€', '119€',
       '100€', '60€', '140€', '220€', '70€', '110€', '145€', '166,6€',
       '180€', '250€', '149€', '280€', '75€'], dtype=object)

In [ ]:
df['parking_space'] = df['parking_space'].str.replace(r"[\€\+]", '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['parking_space'] = df['parking_space'].str.replace(",", '.')

In [ ]:
df["parking_space"].unique()

array(['120', nan, '150', '200', '0', '130', '90', '350', '119', '100',
       '60', '140', '220', '70', '110', '145', '166.6', '180', '250',
       '149', '280', '75'], dtype=object)

In [ ]:
df['parking_space'] = df['parking_space'].astype(float)

In [ ]:
df['parking_space'] = df.parking_space.fillna(method = "bfill")

## 4. Clean: `utilities`

Please explain why you choose your strategy for filling the missing values.

In [ ]:
df["utilities"].unique()

array(['+460€', '+226,49€', '+90€', nan, '+110€', '+255€', '+500€',
       '+250€', '+750€', '+133,30€', '+225,84€', '+164,09€', '+170€',
       '+98,38€', '+380€', '+294€', '+453,60€', '+235€', 'keine', '+150€',
       '+120€', '+40€', '+426,84€', '+225€', '+137,04€', '+164,74€',
       '+85€', '+434,17€', '+253€', '+330€', '+322€', '+320€', '+135€',
       '+311,90€', '+675€', '+580€', '+230€', '+300€', '+645€', '+200€',
       '+151,71€', '+180€', '+400€', '+190€', '+0€', '+174€', '+212€',
       '+270€', '+378,10€', '+477€', '+579€', '+265€', '+160€', '+65€',
       '+315,21€', '+232,40€', '+165€', '+91€', '+307€', '+97,76€',
       '+111,75€', '+545€', '+130,80€', '+256€', '+284€', '+258,88€',
       '+189€', '+233€', '+280€', '+80€', '+60€', '+70€', '+145€',
       '+100€', '+227,73€', '+195€', '+163€', '+80,07€', '+201€', '+68€',
       '+209€', '+222€', '+247€', '+242,10€', '+298,14€', '+240€',
       '+157,84€', '+211,75€', '+214,20€', '+415€', '+350€', '+127,04€',
       '+290€', '+274,65€', '+550€', '+760€', '+198€', '+345,30€',
       '+312,32€', '+224,34€', '+352,80€', '+351,90€', '+169,26€',
       '+180,30€', '+277€', '+183€', '+600€', '+75€', '+140€', '+392,15€',
       '+262,16€', '+304€', '+328€', '+205€', '+408,86€', '+130€',
       '+200,13€', '+560€', '+249€', '+410€', '+356€', '+1.026,50€',
       '+210€', '+93€', '+295€', '+121€', '+310€', '+408€', '+370€',
       '+113,06€', '+125€', '+275€', '+1€', '+185€', '+194,42€', '+296€',
       '+454€', '+115,88€', '+162€', '+66,47€', '+158€', '+80,52€',
       '+213€', '+149€', '+153€', '+570€', '+394,49€', '+289,10€',
       '+372,26€', '+133,62€', '+230,05€', '+131,10€', '+191€',
       '+121,49€', '+393€', '+263€', '+217,19€', '+559€', '+586€',
       '+204,76€', '+136,05€', '+118,86€', '+336,81€', '+120,32€',
       '+215€', '+191,92€', '+129,46€', '+180,94€', '+178,38€',
       '+167,56€', '+227€', '+154,40€', '+143,64€', '+231,40€',
       '+164,30€', '+147,75€', '+174,86€', '+225,98€', '+266,84€',
       '+103,44€', '+700€', '+175€', '+176,60€', '+201,30€', '+147€',
       '+450€', '+140,90€', '+245,66€', '+190,68€', '+198,88€',
       '+205,74€', '+133,20€', '+129,56€', '+132,62€', '+167,94€',
       '+395,76€', '+331,20€', '+196,08€', '+182,08€', '+61,40€',
       '+200,98€', '+197,40€', '+132,76€', '+193,46€', '+192,52€',
       '+130,70€', '+193,86€', '+193,94€', '+238,88€', '+172,12€',
       '+184,10€', '+214,52€', '+153,14€', '+163,92€', '+169,62€',
       '+874,80€', '+163,34€', '+242,72€', '+178,60€', '+169,96€',
       '+470€', '+150,54€', '+922,50€', '+224,62€', '+196,12€',
       '+203,04€', '+201,96€', '+163,30€', '+213,28€', '+196,04€',
       '+259,34€', '+163,90€', '+510€', '+163,44€', '+184,84€',
       '+185,12€', '+187,94€', '+244,58€', '+242,30€', '+214€',
       '+248,32€', '+171,40€', '+203,38€', '+163,14€', '+195,74€',
       '+173€', '+169,36€', '+222,98€', '+208,26€', '+245,30€', '+390€',
       '+217,16€', '+217,72€', '+123€', '+132€', '+220€', '+128€',
       '+362,60€', '+204,71€', '+168€', '+254€', '+63€'], dtype=object)

In [ ]:
df['utilities'] = df['utilities'].str.replace(r"[\€\+]", '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['utilities'] = df['utilities'].str.replace(",", '.')

In [ ]:
df["utilities"].unique()

array([460.  , 226.49,  90.  ,    nan, 110.  , 255.  , 500.  , 250.  ,
       750.  , 133.3 , 225.84, 164.09, 170.  ,  98.38, 380.  , 294.  ,
       453.6 , 235.  ,   0.  , 150.  , 120.  ,  40.  , 426.84, 225.  ,
       137.04, 164.74,  85.  , 434.17, 253.  , 330.  , 322.  , 320.  ,
       135.  , 311.9 , 675.  , 580.  , 230.  , 300.  , 645.  , 200.  ,
       151.71, 180.  , 400.  , 190.  , 174.  , 212.  , 270.  , 378.1 ,
       477.  , 579.  , 265.  , 160.  ,  65.  , 315.21, 232.4 , 165.  ,
        91.  , 307.  ,  97.76, 111.75, 545.  , 130.8 , 256.  , 284.  ,
       258.88, 189.  , 233.  , 280.  ,  80.  ,  60.  ,  70.  , 145.  ,
       100.  , 227.73, 195.  , 163.  ,  80.07, 201.  ,  68.  , 209.  ,
       222.  , 247.  , 242.1 , 298.14, 240.  , 157.84, 211.75, 214.2 ,
       415.  , 350.  , 127.04, 290.  , 274.65, 550.  , 760.  , 198.  ,
       345.3 , 312.32, 224.34, 352.8 , 351.9 , 169.26, 180.3 , 277.  ,
       183.  , 600.  ,  75.  , 140.  , 392.15, 262.16, 304.  , 328.  ,
       205.  , 408.86, 130.  , 200.13, 560.  , 249.  , 410.  , 356.  ,
       102.5 , 210.  ,  93.  , 295.  , 121.  , 310.  , 408.  , 370.  ,
       113.06, 125.  , 275.  ,   1.  , 185.  , 194.42, 296.  , 454.  ,
       115.88, 162.  ,  66.47, 158.  ,  80.52, 213.  , 149.  , 153.  ,
       570.  , 394.49, 289.1 , 372.26, 133.62, 230.05, 131.1 , 191.  ,
       121.49, 393.  , 263.  , 217.19, 559.  , 586.  , 204.76, 136.05,
       118.86, 336.81, 120.32, 215.  , 191.92, 129.46, 180.94, 178.38,
       167.56, 227.  , 154.4 , 143.64, 231.4 , 164.3 , 147.75, 174.86,
       225.98, 266.84, 103.44, 700.  , 175.  , 176.6 , 201.3 , 147.  ,
       450.  , 140.9 , 245.66, 190.68, 198.88, 205.74, 133.2 , 129.56,
       132.62, 167.94, 395.76, 331.2 , 196.08, 182.08,  61.4 , 200.98,
       197.4 , 132.76, 193.46, 192.52, 130.7 , 193.86, 193.94, 238.88,
       172.12, 184.1 , 214.52, 153.14, 163.92, 169.62, 874.8 , 163.34,
       242.72, 178.6 , 169.96, 470.  , 150.54, 922.5 , 224.62, 196.12,
       203.04, 201.96, 163.3 , 213.28, 196.04, 259.34, 163.9 , 510.  ,
       163.44, 184.84, 185.12, 187.94, 244.58, 242.3 , 214.  , 248.32,
       171.4 , 203.38, 163.14, 195.74, 173.  , 169.36, 222.98, 208.26,
       245.3 , 390.  , 217.16, 217.72, 123.  , 132.  , 220.  , 128.  ,
       362.6 , 204.71, 168.  , 254.  ,  63.  ])

In [ ]:
df['utilities'] = df['utilities'].str.replace("keine", '0')

In [ ]:
df['utilities'] = df['utilities'].str.replace("1.026.5", '102.65')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
df['utilities'] = df['utilities'].astype(float)

In [ ]:
df['utilities'] = df.utilities.fillna(method = "bfill")

## 5. Clean: `energy_requirement`

Please explain why you choose your strategy for filling the missing values.

In [ ]:
df["energy_requirement"].unique()

array([nan, '81,6 kWh/(m²*a)', '64,2 kWh/(m²*a)', '66,2 kWh/(m²*a)',
       '40 kWh/(m²*a)', '51 kWh/(m²*a)', '81 kWh/(m²*a)', '58 kWh/(m²*a)',
       '80 kWh/(m²*a)', '50 kWh/(m²*a)', '102 kWh/(m²*a)',
       '113 kWh/(m²*a)', '68 kWh/(m²*a)', '16,3 kWh/(m²*a)',
       '76,9 kWh/(m²*a)', '79 kWh/(m²*a)', '149 kWh/(m²*a)',
       '74 kWh/(m²*a)', '66,7 kWh/(m²*a)', '61 kWh/(m²*a)',
       '118,2 kWh/(m²*a)', '70 kWh/(m²*a)', '45,7 kWh/(m²*a)',
       '61,7 kWh/(m²*a)', '60 kWh/(m²*a)', '116 kWh/(m²*a)',
       '35,61 kWh/(m²*a)', '53 kWh/(m²*a)', '36,61 kWh/(m²*a)',
       '34,6 kWh/(m²*a)', '42,6 kWh/(m²*a)', '101,19 kWh/(m²*a)',
       '61,9 kWh/(m²*a)', '128,1 kWh/(m²*a)', '54,9 kWh/(m²*a)',
       '69 kWh/(m²*a)', '59,8 kWh/(m²*a)', '67 kWh/(m²*a)',
       '66 kWh/(m²*a)', '113,7 kWh/(m²*a)', '74,6 kWh/(m²*a)',
       '65,99 kWh/(m²*a)', '150,4 kWh/(m²*a)', '70,3 kWh/(m²*a)',
       '40,41 kWh/(m²*a)', '148,7 kWh/(m²*a)', '170 kWh/(m²*a)',
       '62,2 kWh/(m²*a)', '228 kWh/(m²*a)', '134,5 kWh/(m²*a)',
       '76 kWh/(m²*a)', '77,3 kWh/(m²*a)', '139 kWh/(m²*a)',
       '59 kWh/(m²*a)', '80,5 kWh/(m²*a)', '56,88 kWh/(m²*a)',
       '76,4 kWh/(m²*a)', '42,8 kWh/(m²*a)', '28 kWh/(m²*a)',
       '54 kWh/(m²*a)', '70,8 kWh/(m²*a)', '65 kWh/(m²*a)',
       '135,9 kWh/(m²*a)', '163,5 kWh/(m²*a)', '118 kWh/(m²*a)',
       '82,4 kWh/(m²*a)', '132 kWh/(m²*a)', '87,8 kWh/(m²*a)',
       '158,6 kWh/(m²*a)', '160,8 kWh/(m²*a)', '155,5 kWh/(m²*a)',
       '70,4 kWh/(m²*a)', '72 kWh/(m²*a)', '64,1 kWh/(m²*a)',
       '30 kWh/(m²*a)', '62,8 kWh/(m²*a)', '39,5 kWh/(m²*a)',
       '49,5 kWh/(m²*a)', '71,4 kWh/(m²*a)', '125 kWh/(m²*a)',
       '23,3 kWh/(m²*a)', '104,6 kWh/(m²*a)', '92 kWh/(m²*a)',
       '236,68 kWh/(m²*a)', '38,5 kWh/(m²*a)', '112 kWh/(m²*a)',
       '59,9 kWh/(m²*a)', '31,4 kWh/(m²*a)', '157,7 kWh/(m²*a)',
       '52,2 kWh/(m²*a)', '49,2 kWh/(m²*a)', '48 kWh/(m²*a)',
       '100 kWh/(m²*a)', '55 kWh/(m²*a)', '103 kWh/(m²*a)',
       '64,3 kWh/(m²*a)', '52 kWh/(m²*a)', '49 kWh/(m²*a)',
       '239,2 kWh/(m²*a)', '60,1 kWh/(m²*a)', '59,1 kWh/(m²*a)',
       '119 kWh/(m²*a)', '75,9 kWh/(m²*a)', '237,7 kWh/(m²*a)',
       '47 kWh/(m²*a)', '22,8 kWh/(m²*a)', '42 kWh/(m²*a)',
       '62 kWh/(m²*a)', '71,9 kWh/(m²*a)', '79,9 kWh/(m²*a)',
       '44,5 kWh/(m²*a)', '83,3 kWh/(m²*a)', '151,8 kWh/(m²*a)',
       '51,43 kWh/(m²*a)'], dtype=object)

In [ ]:
df["energy_requirement"].unique()

array([nan, '81,6 kWh/(m²*a)', '64,2 kWh/(m²*a)', '66,2 kWh/(m²*a)',
       '40 kWh/(m²*a)', '51 kWh/(m²*a)', '81 kWh/(m²*a)', '58 kWh/(m²*a)',
       '80 kWh/(m²*a)', '50 kWh/(m²*a)', '102 kWh/(m²*a)',
       '113 kWh/(m²*a)', '68 kWh/(m²*a)', '16,3 kWh/(m²*a)',
       '76,9 kWh/(m²*a)', '79 kWh/(m²*a)', '149 kWh/(m²*a)',
       '74 kWh/(m²*a)', '66,7 kWh/(m²*a)', '61 kWh/(m²*a)',
       '118,2 kWh/(m²*a)', '70 kWh/(m²*a)', '45,7 kWh/(m²*a)',
       '61,7 kWh/(m²*a)', '60 kWh/(m²*a)', '116 kWh/(m²*a)',
       '35,61 kWh/(m²*a)', '53 kWh/(m²*a)', '36,61 kWh/(m²*a)',
       '34,6 kWh/(m²*a)', '42,6 kWh/(m²*a)', '101,19 kWh/(m²*a)',
       '61,9 kWh/(m²*a)', '128,1 kWh/(m²*a)', '54,9 kWh/(m²*a)',
       '69 kWh/(m²*a)', '59,8 kWh/(m²*a)', '67 kWh/(m²*a)',
       '66 kWh/(m²*a)', '113,7 kWh/(m²*a)', '74,6 kWh/(m²*a)',
       '65,99 kWh/(m²*a)', '150,4 kWh/(m²*a)', '70,3 kWh/(m²*a)',
       '40,41 kWh/(m²*a)', '148,7 kWh/(m²*a)', '170 kWh/(m²*a)',
       '62,2 kWh/(m²*a)', '228 kWh/(m²*a)', '134,5 kWh/(m²*a)',
       '76 kWh/(m²*a)', '77,3 kWh/(m²*a)', '139 kWh/(m²*a)',
       '59 kWh/(m²*a)', '80,5 kWh/(m²*a)', '56,88 kWh/(m²*a)',
       '76,4 kWh/(m²*a)', '42,8 kWh/(m²*a)', '28 kWh/(m²*a)',
       '54 kWh/(m²*a)', '70,8 kWh/(m²*a)', '65 kWh/(m²*a)',
       '135,9 kWh/(m²*a)', '163,5 kWh/(m²*a)', '118 kWh/(m²*a)',
       '82,4 kWh/(m²*a)', '132 kWh/(m²*a)', '87,8 kWh/(m²*a)',
       '158,6 kWh/(m²*a)', '160,8 kWh/(m²*a)', '155,5 kWh/(m²*a)',
       '70,4 kWh/(m²*a)', '72 kWh/(m²*a)', '64,1 kWh/(m²*a)',
       '30 kWh/(m²*a)', '62,8 kWh/(m²*a)', '39,5 kWh/(m²*a)',
       '49,5 kWh/(m²*a)', '71,4 kWh/(m²*a)', '125 kWh/(m²*a)',
       '23,3 kWh/(m²*a)', '104,6 kWh/(m²*a)', '92 kWh/(m²*a)',
       '236,68 kWh/(m²*a)', '38,5 kWh/(m²*a)', '112 kWh/(m²*a)',
       '59,9 kWh/(m²*a)', '31,4 kWh/(m²*a)', '157,7 kWh/(m²*a)',
       '52,2 kWh/(m²*a)', '49,2 kWh/(m²*a)', '48 kWh/(m²*a)',
       '100 kWh/(m²*a)', '55 kWh/(m²*a)', '103 kWh/(m²*a)',
       '64,3 kWh/(m²*a)', '52 kWh/(m²*a)', '49 kWh/(m²*a)',
       '239,2 kWh/(m²*a)', '60,1 kWh/(m²*a)', '59,1 kWh/(m²*a)',
       '119 kWh/(m²*a)', '75,9 kWh/(m²*a)', '237,7 kWh/(m²*a)',
       '47 kWh/(m²*a)', '22,8 kWh/(m²*a)', '42 kWh/(m²*a)',
       '62 kWh/(m²*a)', '71,9 kWh/(m²*a)', '79,9 kWh/(m²*a)',
       '44,5 kWh/(m²*a)', '83,3 kWh/(m²*a)', '151,8 kWh/(m²*a)',
       '51,43 kWh/(m²*a)'], dtype=object)

In [ ]:
df["energy_requirement"] = df.energy_requirement.str.split(" ",expand=True)[0]

In [ ]:
df['energy_requirement'] = df['energy_requirement'].str.replace(",", '.')

In [ ]:
df['energy_requirement'] = df['energy_requirement'].astype(float)

In [ ]:
df['energy_requirement'] = df.energy_requirement.fillna(method = "bfill")

In [ ]:
df.head()

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
0,https://www.immobilienscout24.de/expose/116051687,Mitte,first_time_use,4.0,2659.00,2019,117.20,2199.000000,460.00,in,...,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B,7977.00,5
1,https://www.immobilienscout24.de/expose/115338103,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,973.510000,226.49,in,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,NaN,NaN,NaN,2920.53,5
2,https://www.immobilienscout24.de/expose/116458710,Köpenick,well_kept,2.0,979.00,1997,83.61,799.000000,90.00,+90€,...,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis,NaN,NaN,2937.00,4
3,https://www.immobilienscout24.de/expose/116573177,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,911.544216,NaN,NaN,...,Unknown,NaN,other_heating_methods,NaN,NaN,NaN,NaN,NaN,5490.66,13
4,https://www.immobilienscout24.de/expose/115925878,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,1131.573505,NaN,NaN,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt zur Besichtigun...,liegt zur Besichtigung vor,NaN,NaN,NaN,6816.00,8

## (Bonus) Clean: `type_of_certificate`

Hint: could two features be created from this data?

As with before, explain why you chose your strategy :)

In [ ]:
df["type_of_certificate"].unique()

array(['Bedarfsausweis', nan,
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 98,5 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 84 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 171,7 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 74 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 109 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 120,8 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 204,3 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 215 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 218,2 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 120 kWh/(m²*a)',
       'Verbrauchsausweis',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 215 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 219,5 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 53 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 113 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 104,67 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 132 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 163 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 128,1 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 70 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 126,4 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 80 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 101 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 65,3 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 123,9 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 123 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 144,4 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 78,34 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 56,2 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 136 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 92 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 158,7 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 125 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 97 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 121 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 112,9 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 123,9 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 102 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 209 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 144 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 105,1 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 105 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 136,3 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 144,2 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 139 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 177,5 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 128,51 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 62 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 146,9 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 192,92 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 126 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 72,82 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 120 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 87,98 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 128 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 170,8 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 103,8 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 93,7 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 148 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 146,8 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 109 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 63,4 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 98,6 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 174 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 172,5 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 130,9 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 66,21 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 81,9 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 128 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 64 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 116,1 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 141 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 197 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 186 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 131 kWh/(m²*a) Energieverbrauch für Warmwasser enthalten',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 65,4 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 97,4 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 207,5 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 187,9 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 82,5 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 89 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 119,1 kWh/(m²*a)',
       'Verbrauchsausweis End\xadenergie\xadverbrauch 86 kWh/(m²*a)',
       'Verbrauchsausweis Energie\xadver\xadbrauchs\xadkennwert 91,4 kWh/(m²*a)'],
      dtype=object)

In [ ]:
df["type_of_certificate"] = df.type_of_certificate.str.split(" ",expand=True)[0]

In [ ]:
df['type_of_certificate'] = df.type_of_certificate.fillna('Bedarfsausweis')

In [ ]:
df.head()

,url,region,condition,rooms,rent,year_construction,space,cold_rent,utilities,heating_costs,...,property_condition,furnishing,heating_type,energy_sources,energy_certificate,type_of_certificate,energy_requirement,efficiency_class,deposit_cleaned,n_missing
0,https://www.immobilienscout24.de/expose/116051687,Mitte,first_time_use,4.0,2659.00,2019,117.20,2199.000000,460.00,in,...,New,NaN,Underfloor Heating,NaN,NaN,Bedarfsausweis,NaN,B,7977.00,5
1,https://www.immobilienscout24.de/expose/115338103,Kreuzberg,first_time_use,1.0,1200.00,2020,29.33,973.510000,226.49,in,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Bedarfsausweis,NaN,NaN,2920.53,5
2,https://www.immobilienscout24.de/expose/116458710,Köpenick,well_kept,2.0,979.00,1997,83.61,799.000000,90.00,+90€,...,Groomed,Normale Qualität,Central Heating,Fernwärme Energieausweis liegt vor,liegt vor,Verbrauchsausweis,NaN,NaN,2937.00,4
3,https://www.immobilienscout24.de/expose/116573177,Wilmersdorf,well_kept,4.0,1830.22,1900,171.18,911.544216,NaN,NaN,...,Unknown,NaN,other_heating_methods,NaN,NaN,Bedarfsausweis,NaN,NaN,5490.66,13
4,https://www.immobilienscout24.de/expose/115925878,Kreuzberg,first_time_use,2.0,2272.00,2020,88.27,1131.573505,NaN,NaN,...,New,Gehobene Qualität,Central Heating,Fernwärme Energieausweis liegt zur Besichtigun...,liegt zur Besichtigung vor,Bedarfsausweis,NaN,NaN,6816.00,8

In [ ]:
df.dtypes

url                            object
region                         object
condition                      object
rooms                         float64
rent                          float64
year_construction               int64
space                         float64
cold_rent                     float64
utilities                     float64
heating_costs                  object
security_deposit               object
parking_space                 float64
renovated_date         datetime64[ns]
property_condition             object
furnishing                     object
heating_type                   object
energy_sources                 object
energy_certificate             object
type_of_certificate            object
energy_requirement            float64
efficiency_class               object
deposit_cleaned               float64
n_missing                       int64
dtype: object

In [ ]:
(df.isnull().sum()).sort_values(ascending = False)

efficiency_class       513
heating_costs          338
furnishing             319
energy_certificate     313
energy_sources         270
parking_space           29
utilities                8
energy_requirement       1
renovated_date           1
property_condition       0
deposit_cleaned          0
type_of_certificate      0
heating_type             0
url                      0
region                   0
security_deposit         0
cold_rent                0
space                    0
year_construction        0
rent                     0
rooms                    0
condition                0
n_missing                0
dtype: int64

--- 
# Review

This section is only for the reviewing team!

Guideline how to review:
https://docs.google.com/presentation/d/1YORFwlfVQo9ogj7jR9t6_pqxmGIlpBSGubbp1UdtcBQ/edit?usp=sharing

In [ ]:
#@title Review Criteria:
%%html
<h3><input type="checkbox"> 1. Are all questions answered? <br></h3>
<h3><input type="checkbox"> 2. Does all code run through? <br></h3>
<h3><input type="checkbox"> 3. Are explanations of fill strategy provided for all relevant questions?  <br></h3>
<h3><input type="checkbox"> 4. Are different strategies used for continuous vs categorical data?  <br></h3>
<h3><input type="checkbox"> 5. Is the bonus question answered?  <br></h3>